<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>onlineGames</title>
<link href="https://fonts.googleapis.com/css?family=Pacifico|Satisfy&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <style >
    body
    {
      background-image: url("{%static "images/Image7.jpg"%}");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment:fixed;
    }
    h5
    {
      text-align: center;
    }

    h1
    {
      text-align: center;
    }

    #head2
    {
      font-family: 'Pacifico';
      font-family: 'Satisfy';
    }

    .board button
    {
      border: 2px solid #175dde;
      border-radius: 50%;
      height :50px;width: 50px;
      background-color: #1348a2;
    }
    table
    {
      align:center;
      margin-top: 10px;

    }
    #Restart{
      margin-left:60%;
    }

    .board
    {
    background-color:#175dde;
    border: 10px solid #175dde;
    }


    li
    {
      display: inline;
    }

    ul
    {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li
    {
      float: left;
    }

    li a
    {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover
    {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background-color: #009c10;
    }

    .active
    {
      background-color: #1c42ff;
    }

    li
    {
      border-right: 1px solid #bbb;
    }

    ul
    {
      position: fixed;
      top: 0;
      width: 100%;
    }
    .allbutton{
      padding: 20px;
      background-color: white;
      border: 1px solid white;
      border-radius: 10px;
      margin: 0 auto;
      margin-top: 180px;
      width: 40%;
    }
    .Images
    {
      margin-top: 150px;
    }


    </style>
    <div class="introchoice">
      <div class="container">
        <div class="Images">
          <div class="row">

            <div class="col-xs-1 col-md-1 "></div>
            <div  class="col-xs-4 col-md-4 thumbnail  "><button style="margin:8%;" onclick="openChoice()"><a > <img  src="{%static "images/Image8.jpg"%}" alt=""></a></button></div>
            <div class="col-xs-2 col-md-2 "></div>
            <div class="col-xs-4 col-md-4 thumbnail"><button style="margin:8%;"><a href="{% url 'gameapp:game2pvp'%}"><img  src="{%static "images/Image9.jpg"%}"alt=""></a> </button></div>

          </div>
        </div>
      </div>

    </div>

    <div class="modechoice">
      <div class="container">
        <div class="allbutton" >

            <button onclick="GamemodeEasy()" style="padding: 5%;padding-left: 8%;color: white;border-radius:100px ;border: 1px solid #5bbb5b;background-color:#5bbb5b;font-weight:bold ;font-size: 18px;width:70%;display:block;margin-bottom:0%;margin: 0 auto;margin-top:6%;"  >Easy</button><br>
            <button onclick="GamemodeMedium()" style="padding: 5%;padding-left: 8%;color: white;border-radius:100px ;border: 1px solid #f1ab4c;background-color: #f1ab4c;font-weight:bold ;font-size: 18px;width:70%;display:block;margin-top:auto;margin-bottom:0%;margin: 0 auto;" >Medium</button><br>
            <button onclick="GamemodeHard()" style="padding: 5%;padding-left: 8%;color: white;border-radius:100px ;border: 1px solid #da524b;background-color: #da524b;font-weight:bold ;font-size: 18px;width:70%;display:block;margin-top:auto;margin-bottom:0%;margin: 0 auto;" >Hard</button><br>

        </div>
      </div>
    </div>


    <div class="game">

    <nav class="navbar navbar-default ">
        <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'gameapp:game1'%}">TicTacToe</a></li>
        <li><a href="{% url 'gameapp:game2'%}">Connect Four</a></li>
        <!-- <li style="float:right"><a class="active" id="Restart">Restart</a></li> -->
      </ul>
    </nav>

<div class="container">
      <h1 id='head2'>Connect Four!</h1><h2></h2>    <button class='btn btn-primary'id="Restart" type="button" name="button">Restart</button>


  <table align='center' class='board'>
    <tr>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
    </tr>
    <tr>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
    </tr>
    <tr>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
    </tr>
    <tr>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
    </tr>
    <tr>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
    </tr>
    <tr>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
      <td><button type="button" name="button"></button></td>
    </tr>
  </table>

<h5 style="background-color:#c4fbac;width:372px;margin: 0 auto;border-top: 7px solid #c4fbac;border-bottom:5px solid #c4fbac;"></h5>
</div>

    </div>
<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous">
</script>
</script>
<script src="{%static "javascript/w3.js"%}" ></script>
  <script >
  var player = 'Player';
  var playerColor= 'rgb(255, 0, 0)';
  var computer = 'Computer;'
  var computerColor= 'rgb(255, 243, 36)';
  var bgColor = 'rgb(19, 72, 162)'
  var table = $('table tr');
  var win=false;
  var res=false;
  var idVar=null;
  var mode=null
  var game_status=true;
  var invalidInput=true;
  var header=document.querySelector('h1')
  var restart=document.querySelector('#Restart')


  //Hiding game screen

  function gameScreen()
  {
    w3.hide('.game')
  }
  gameScreen();

  //end

  //Hidechoicescreen

  function choiceScreen()
  {
    w3.hide('.modechoice')
  }
  choiceScreen()

  //end

  //openChoice

  function openChoice()
  {
    w3.hide('.introchoice')
    w3.show('.modechoice')
  }
  //End


  //GamemodeEasy


  function GamemodeEasy()
  {

    document.body.style.backgroundImage = 'url("{%static "images/Image21.jpg"%}")';
    w3.hide('.modechoice')
    w3.show('.game')
    return mode='easy'
  }

  //End


  //Gamemodemedium


  function GamemodeMedium()
  {
          document.body.style.backgroundImage = 'url("{%static "images/Image21.jpg"%}")';
    w3.hide('.modechoice')
    w3.show('.game')
    return mode='medium'
  }

  //end


  //Gamemodehard


  function GamemodeHard()
  {
          document.body.style.backgroundImage = 'url("{%static "images/Image21.jpg"%}")';
    w3.hide('.modechoice')
    w3.show('.game')
    return mode='hard'
  }


  //End


  // Working of Restart


  function InterchangeColor(rowIndex,colIndex)
  {
    return table.eq(rowIndex).find('td').eq(colIndex).find('button').css('background-color',bgColor);
  }


  function InterchangeHeadercolor()
  {
    colorInput='rgb(0, 0, 0)';
    header.style.color=colorInput;
  }


  function changeWin()
  {
    return win=false
  }


  function changeCheck()
  {
    if(idVar!=null)
    {
      clearInterval(idVar);
      return idVar=null;
    }
    else if (win===true)
    {
        idVar = setInterval("changeHeadercolor()",500);
        changeWin();
        return idVar;
    }

  }


  function changeRestart()
  {
    if (res===false)
    {
      return res=true;
    }
    else if (res===true)
    {
      return res=false;
    }
  }


  function exchangeCompColor()
  {
    if (computerColor==='rgb(255, 0, 0)')
    {
      return computerColor='rgb(255, 243, 36)'
    }
    else if(computerColor==='rgb(255, 243, 36)')
    {
      return computerColor='rgb(255, 0, 0)'
    }
  }


  function exchangePlayerColor()
  {
    if (playerColor==='rgb(255, 0, 0)')
    {
      return playerColor='rgb(255, 243, 36)'
    }
    else if(playerColor==='rgb(255, 243, 36)')
    {
      return playerColor='rgb(255, 0, 0)'
    }
  }


  function restartMove()
  {
    if(res===true)
    {
      var currentName = computer;
      var currentColor = computerColor;
      var col = randomColn1(7);
      checkInput(col);
      while (invalidInput !== true)
      {
        var col = randomColn(7);
        checkInput(col);
      }
      var bottomAvail = checkBottom(col);
      changeColor(bottomAvail,col,currentColor);

    }
  }



  function clearBoard()
  {
    for(var row=0;row<7;row++)
    {
      for(var col=0;col<7;col++)
      {
        InterchangeColor(row,col);
      }
    }
    changeRestart();
    if (res===false)
    {
      $('h1').text("Connect Four!")
      $('h5').text("Gameplay: Player-Color 'Red'  Computer-Color 'Yellow'")
    }
    else if (res===true)
    {
      $('h1').text("Connect Four!")
      $('h5').text("Gameplay: Player-Color 'Yellow'  Computer-Color 'Red'")
    }
    changeCheck();
    InterchangeHeadercolor();
    exchangeCompColor();
    exchangePlayerColor();
    restartMove();
    return game_status=true;
  }
  restart.addEventListener('click',clearBoard)

  // End



  // Random Color Generator

  function colorChanger()
  {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++)
    {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }


  function changeHeadercolor()
  {
    colorInput=colorChanger();
    header.style.color=colorInput;
  }


  //End



  //Input functions


  function checkBottom(colIndex)
  {
    var colorReport=returnColor(5,colIndex);
    for(var row=5;row>-1;row--)
    {
      colorReport=returnColor(row,colIndex);
      if(colorReport===bgColor){return row;}
    }
  }


  function checkInput(colIndex)
  {
    if(returnColor(0,colIndex)===bgColor)
    {
      return(invalidInput=true)
    }
    else
    {
      return(invalidInput=false)
    }
  }


  function changeColor(rowIndex,colIndex,color)
  {
    return table.eq(rowIndex).find('td').eq(colIndex).find('button').css('background-color',color);
  }


  //End


  // Random Color Generator

  function colorChanger()
  {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++)
    {
      color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
  }


  function changeHeadercolor()
  {
    colorInput=colorChanger();
    header.style.color=colorInput;
  }


  //End



  //Input functions


  function checkBottom(colIndex)
  {
    var colorReport=returnColor(5,colIndex);
    for(var row=5;row>-1;row--)
    {
      colorReport=returnColor(row,colIndex);
      if(colorReport===bgColor){return row;}
    }
  }


  function checkInput(colIndex)
  {
    if(returnColor(0,colIndex)===bgColor)
    {
      return(invalidInput=true)
    }
    else
    {
      return(invalidInput=false)
    }
  }


  function changeColor(rowIndex,colIndex,color)
  {
    return table.eq(rowIndex).find('td').eq(colIndex).find('button').css('background-color',color);
  }


  //End



  //Win and Draw


  function returnColor(rowIndex,colIndex)
  {
    return table.eq(rowIndex).find('td').eq(colIndex).find('button').css('background-color');
  }


  function colorMatchCheck(one,two,three,four)
  {
    return (one===two && one===three && one===four && one !== bgColor && one !== undefined);
  }


  function horizontalWinCheck()
  {
    for(var row=0;row<6;row++)
    {
      for(var col=0;col<4;col++)
      {
        if(colorMatchCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3)))
        {
          return true;
        }
        else
        {
          continue;
        }
      }
    }
  }


  function verticalWinCheck()
  {
    for(var col=0;col<7;col++)
    {
      for(var row=0;row<4;row++)
      {
        if(colorMatchCheck(returnColor(row,col),returnColor(row+1,col),returnColor(row+2,col),returnColor(row+3,col)))
        {
          return true;
        }
        else
        {
          continue;
        }
      }
    }
  }



  function diagonalWinCheck()
  {
    for (var col = 0; col < 5; col++)
    {
      for (var row = 0; row < 7; row++)
      {
        if (colorMatchCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3)))
        {
          return true;
        }
        else
        {
          continue;
        }
      }
    }
    for (var col = 0; col < 5; col++)
    {
      for (var row = 3; row < 7; row++)
      {
        if (colorMatchCheck(returnColor(row,col), returnColor(row-1,col+1) ,returnColor(row-2,col+2), returnColor(row-3,col+3)))
        {
          return true;
        }
        else
        {
          continue;
        }
      }
    }
  }


    function gameEnd(winningPlayer)
    {
      for (var col = 0; col < 7; col++)
      {
        for (var row = 0; row < 7; row++)
        {
          if (winningPlayer==='Player')
          {
            $('h5').text("Press RESTART and Enjoy playing again ")
            $('h1').text("Kudos! Amazing job..")
            return win=true;
          }
          else
          {
            $('h5').text("Press RESTART and give another stab")
            $('h1').text("Oops! Tough break.. ")
            return win=false;
          }

        }
      }
    }


    function DrawCheck()
    {
      for(var colIndex=0;colIndex<7;colIndex++)
      {
        if(returnColor(0,colIndex)===bgColor)
        {
          return(false)
        }
      }
      return(true)
    }


    function gameDraw()
    {
      for (var col = 0; col < 7; col++)
      {
        for (var row = 0; row < 7; row++)
        {
          $('h5').text("Press RESTART and Enjoy jump in again ")
          $('h1').text("Weighed Finishing !!")
          return win=false;
        }
      }
    }


    //End


  //Computer inputeasy


    function randomColn1(max)
    {
    return Math.floor(Math.random() * Math.floor(max));
    }


  //End


  //ComputerInputMedium



    function randomColn2(max)
    {
      for(var col=0;col<7;col++)
      {
        for(var row=0;row<4;row++)
        {
          if(compColWinCheck(returnColor(row,col),returnColor(row+1,col),returnColor(row+2,col),returnColor(row+3,col)))
          {
              return col;
          }
          else
          {
            continue;
          }
        }
      }
      for(var row=0;row<6;row++)
      {
        for(var col=0;col<4;col++)
        {
          if(compWinCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='one')
          {
            if (checkBottom(col)===row)
            {
              return  col;
            }
          }
          else if (compWinCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='two')
          {

             var colOne=col+1;
            if (checkBottom(colOne)===row)
            {
              return colOne;
            }

          }
          else if (compWinCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='three')
          {
          var colTwo=col+2;
            if (checkBottom(colTwo===row))
            {
              return colTwo;
            }

          }
          else if(compWinCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='four')
          {
          var colThree=col+3;
            if (checkBottom(colThree)===row)
            {
              return colThree;
            }

          }
          else
          {
            continue;
          }
        }
      }


      for(var col=0;col<7;col++)
      {
        for(var row=0;row<4;row++)
        {
          if(compColMatchCheck(returnColor(row,col),returnColor(row+1,col),returnColor(row+2,col),returnColor(row+3,col)))
          {
            return col;
          }
          else
          {
            continue;
          }
        }
      }
      for(var row=0;row<6;row++)
      {
        for(var col=0;col<4;col++)
        {
          if(compMatchCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='one')
          {
            if (checkBottom(col)===row)
            {
            return col;
            }
          }
          else if (compMatchCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='two')
          {
            var colOne=col+1;
            if (checkBottom(colOne)===row)
            {
              return colOne;
            }

          }
          else if (compMatchCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='three')
          {

            var colTwo=col+2;
            if (checkBottom(colTwo)===row)
            {
              return colTwo;
            }

          }
          else if(compMatchCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='four')
          {
            var colThree=col+3;
            if (checkBottom(colThree)===row)
            {
              return colThree;
            }

          }
          else {
            continue;
          }
        }
      }
      for (var col = 0; col < 5; col++)
      {
        for (var row = 0; row < 7; row++)
        {
          if (compMatchCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='one')
          {
            if (checkBottom(col)===row)
            {
            return col;
            }

          }
          else if (compMatchCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='two')
          {
            var colOne=col+1;
            var rowOne=row+1;
            if (checkBottom(colOne)===rowOne)
            {
              return colOne;
            }
          }
          else if (compMatchCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='three')
          {
            var colTwo=col+2;
            var rowTwo=row+2;
            if (checkBottom(colTwo)===rowTwo)
            {
              return colTwo;
            }

          }
          else if (compMatchCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='four')
          {
            var colThree=col+3;
            var rowThree=row+3;
            if (checkBottom(colThree)===rowThree)
            {
              return colThree;
            }

          }
          else
          {
            continue;
          }
        }
      }
    return Math.floor(Math.random() * Math.floor(max));
    }


  //End


  //Computer inputhard


    function compColMatchCheck(one,two,three,four)
    {
        return (two===playerColor && three===playerColor && four === playerColor && one===bgColor)
    }


    function compColWinCheck(one,two,three,four)
    {
      return (two===computerColor && three===computerColor&& four === computerColor && one===bgColor)
    }


    function compMatchCheck(one,two,three,four)
    {
      if ((two===playerColor && three===playerColor && one === playerColor && four===bgColor))
      {
        return 'four'
      }
      else if ((two===playerColor && four===playerColor && one === playerColor && three===bgColor))
      {
        return 'three'
      }
      else if ((one===playerColor && three===playerColor && four === playerColor && two===bgColor))
      {
        return 'two'
      }
      else if((two===playerColor && three===playerColor && four === playerColor && one===bgColor))
      {
        return 'one'
      }
    }


    function compWinCheck(one,two,three,four)
    {
    if ((two===computerColor&& three===computerColor && one === computerColor && four===bgColor))
      {
        return 'four'
      }
      else if ((two===computerColor&& four===computerColor && one === computerColor && three===bgColor))
      {
        return 'three'
      }
      else if ((four===computerColor&& three===computerColor && one === computerColor && two===bgColor))
      {
        return 'two'
      }
      else if((two===computerColor && three===computerColor && four === computerColor && one===bgColor))
      {
        return 'one'
      }
  }





    function randomColn3(max)
    {
      for(var col=0;col<7;col++)
      {
        for(var row=0;row<4;row++)
        {
          if(compColWinCheck(returnColor(row,col),returnColor(row+1,col),returnColor(row+2,col),returnColor(row+3,col)))
          {
              return col;
          }
          else
          {
            continue;
          }
        }
      }
      for(var row=0;row<6;row++)
      {
        for(var col=0;col<4;col++)
        {
          if(compWinCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='one')
          {
            if (checkBottom(col)===row)
            {
              return  col;
            }
          }
          else if (compWinCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='two')
          {

             var colOne=col+1;
            if (checkBottom(colOne)===row)
            {
              return colOne;
            }

          }
          else if (compWinCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='three')
          {
          var colTwo=col+2;
            if (checkBottom(colTwo===row))
            {
              return colTwo;
            }

          }
          else if(compWinCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='four')
          {
          var colThree=col+3;
            if (checkBottom(colThree)===row)
            {
              return colThree;
            }

          }
          else
          {
            continue;
          }
        }
      }
      for (var col = 0; col < 5; col++)
      {
        for (var row = 0; row < 7; row++)
        {
          if (compWinCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='one')
          {
            if (checkBottom(col)===row)
            {
            return col;
            }

          }
          else if (compWinCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='two')
          {
            var colOne=col+1;
            var rowOne=row+1;
            if (checkBottom(colOne)===rowOne)
            {
              return colOne;
            }
          }
          else if (compWinCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='three')
          {
            var colTwo=col+2;
            var rowTwo=row+2;
            if (checkBottom(colTwo)===rowTwo)
            {
              return colTwo;
            }

          }
          else if (compWinCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='four')
          {
            var colThree=col+3;
            var rowThree=row+3;
            if (checkBottom(colThree)===rowThree)
            {
              return colThree;
            }

          }
          else
          {
            continue;
          }
        }
      }
      for (var col = 0; col < 5; col++)
      {
        for (var row = 3; row < 7; row++)
        {
          if (compWinCheck(returnColor(row,col), returnColor(row-1,col+1) ,returnColor(row-2,col+2), returnColor(row-3,col+3))==='one')
          {
            if (checkBottom(col)===row)
            {
            return col;
            }

          }
          else if (compWinCheck(returnColor(row,col), returnColor(row-1,col+1) ,returnColor(row-2,col+2), returnColor(row-3,col+3))==='two')
          {
            var colOne=col+1;
            var rowOne=row-1;
            if (checkBottom(colOne)===rowOne)
            {
              return colOne;
            }
          }
          else if (compWinCheck(returnColor(row,col), returnColor(row-1,col+1) ,returnColor(row-2,col+2), returnColor(row-3,col+3))==='three')
          {
            var colTwo=col+2;
            var rowTwo=row-2;
            if (checkBottom(colTwo)===rowTwo)
            {
              return colTwo;
            }

          }
          else if (compWinCheck(returnColor(row,col), returnColor(row-1,col+1) ,returnColor(row-2,col+2), returnColor(row-3,col+3))==='four')
          {
            var colThree=col+3;
            var rowThree=row-3;
            if (checkBottom(colThree)===rowThree)
            {
              return colThree;
            }

          }
          else
          {
            continue;
          }
        }
      }

      for(var col=0;col<7;col++)
      {
        for(var row=0;row<4;row++)
        {
          if(compColMatchCheck(returnColor(row,col),returnColor(row+1,col),returnColor(row+2,col),returnColor(row+3,col)))
          {
            return col;
          }
          else
          {
            continue;
          }
        }
      }
      for(var row=0;row<6;row++)
      {
        for(var col=0;col<4;col++)
        {
          if(compMatchCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='one')
          {
            if (checkBottom(col)===row)
            {
            return col;
            }
          }
          else if (compMatchCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='two')
          {
            var colOne=col+1;
            if (checkBottom(colOne)===row)
            {
              return colOne;
            }

          }
          else if (compMatchCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='three')
          {

            var colTwo=col+2;
            if (checkBottom(colTwo)===row)
            {
              return colTwo;
            }

          }
          else if(compMatchCheck(returnColor(row,col),returnColor(row,col+1),returnColor(row,col+2),returnColor(row,col+3))==='four')
          {
            var colThree=col+3;
            if (checkBottom(colThree)===row)
            {
              return colThree;
            }

          }
          else {
            continue;
          }
        }
      }
      for (var col = 0; col < 5; col++)
      {
        for (var row = 0; row < 7; row++)
        {
          if (compMatchCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='one')
          {
            if (checkBottom(col)===row)
            {
            return col;
            }

          }
          else if (compMatchCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='two')
          {
            var colOne=col+1;
            var rowOne=row+1;
            if (checkBottom(colOne)===rowOne)
            {
              return colOne;
            }
          }
          else if (compMatchCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='three')
          {
            var colTwo=col+2;
            var rowTwo=row+2;
            if (checkBottom(colTwo)===rowTwo)
            {
              return colTwo;
            }

          }
          else if (compMatchCheck(returnColor(row,col), returnColor(row+1,col+1) ,returnColor(row+2,col+2), returnColor(row+3,col+3))==='four')
          {
            var colThree=col+3;
            var rowThree=row+3;
            if (checkBottom(colThree)===rowThree)
            {
              return colThree;
            }

          }
          else
          {
            continue;
          }
        }
      }
      for (var col = 0; col < 5; col++)
      {
        for (var row = 3; row < 7; row++)
        {
          if (compMatchCheck(returnColor(row,col), returnColor(row-1,col+1) ,returnColor(row-2,col+2), returnColor(row-3,col+3))==='one')
          {
            if (checkBottom(col)===row)
            {
            return col;
            }
          }
          else if (compMatchCheck(returnColor(row,col), returnColor(row-1,col+1) ,returnColor(row-2,col+2), returnColor(row-3,col+3))==='two')
          {
            var colOne=col+1;
            var rowOnemin=row-1;
            if (checkBottom(colOne)===rowOnemin)
            {
              return colOne;
            }
          }
          else if (compMatchCheck(returnColor(row,col), returnColor(row-1,col+1) ,returnColor(row-2,col+2), returnColor(row-3,col+3))==='three')
          {
            var colTwo=col+2;
            var rowTwomin=row-2;
            if (checkBottom(colTwo)===rowTwomin)
            {
              return colTwo;
            }

          }
          else if (compMatchCheck(returnColor(row,col), returnColor(row-1,col+1) ,returnColor(row-2,col+2), returnColor(row-3,col+3))==='four')
          {
            var colThree=col+3;
            var rowThreemin=row-3;
            if (checkBottom(colThree)===rowThreemin)
            {
              return colThree;
            }

          }
          else
          {
            continue;
          }
        }
      }
    return Math.floor(Math.random() * Math.floor(max));
    }


  //End



  //Main function


  $('h5').text("Gameplay: Player-Color 'Red'  Computer-Color 'Yellow'")
  $('.board button').on('click',function()
  {
    var currentName = player;
    var currentColor = playerColor;
    if(game_status)
    {
      var col = $(this).closest('td').index();
      var bottomAvail = checkBottom(col);
      checkInput(col);
      if(invalidInput)
      {
        changeColor(bottomAvail,col,currentColor);
        if (horizontalWinCheck() || verticalWinCheck() || diagonalWinCheck())
        {
          gameEnd(currentName);
          changeCheck();
          return(game_status=false);
        }
        if(DrawCheck())
        {
          gameDraw();
          return(game_status=false);
        }
        if(game_status)
        {
          currentName = computer;
          currentColor = computerColor;
          if (mode==='easy')
          {
            var col = randomColn1(7);
            checkInput(col);
            while (invalidInput !== true)
            {
              var col = randomColn1(7);
              checkInput(col);
            }
            }
            else if (mode==='medium')
            {
              var col = randomColn3(7);
              checkInput(col);
              while (invalidInput !== true)
              {
                var col = randomColn3(7);
                checkInput(col);
              }
            }
            else if (mode==='hard')
            {
              var col = randomColn3(7);
              checkInput(col);
              while (invalidInput !== true)
              {
                var col = randomColn3(7);
                checkInput(col);
              }

            }


          var bottomAvail = checkBottom(col);
          changeColor(bottomAvail,col,currentColor);
          if (horizontalWinCheck() || verticalWinCheck() || diagonalWinCheck())
          {
            gameEnd(currentName);
            changeCheck();
            return(game_status=false);
          }
          if(DrawCheck())
          {
            gameDraw();
            return(game_status=false);
          }
        }
      }
    }
  })

  </script>
  </body>
</html>
